 .Input__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
    margin-bottom: 1rem;
 }
 
 .Input__info input {
    width: 100%;
    padding: 0.5rem 0;
    border: none;
    outline: none;
 }